apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP 
  selector:
    app: web  # Changed to match your deployment label
  ports:
    - port: 8080      # The port you type in your browser
      targetPort: 80  # The port Nginx is actually using
      